[submodule "GV-Crawler"]
	path = GV-Crawler
	url = git@github.com:GVSU-Sports-Analytics/GV-Crawler.git
[submodule "Sidearm-Updater"]
	path = Sidearm-Updater
	url = git@github.com:GVSU-Sports-Analytics/Sidearm-Updater.git
