
.home_page {
    background: url("assets/louie.gif");
}


.title {
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    padding-top: 6%;
}

.topnav {
    background-color: #0033A0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #0033A0;
    color: black;
}

.topnav a.active {
    color: #323232;
}
