<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>GVSU Sports-Analytics</title>
</head>

<div>
    <nav class="topnav sticky_nav">
        <a href="/">Home</a>
        <a href="https://gvsu.campuslabs.com/engage/organization/baseballanalytics">Laker Link</a>
    </nav>
</div>

<div class="home_page">
    <h1 class="title">GVSU Sports Analytics Club</h1>
    <br>
    <br>
</div>

<body>
</body>

</html>
