<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>GVSU Sports-Analytics</title>
</head>

<div>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/baseball">Baseball</a>
		<a href="/softball">Softball</a>
        <a href="/football">Football</a>
        <a href="/basketball">Basketball</a>
        <a href="https://gvsu.campuslabs.com/engage/organization/baseballanalytics">About</a>
        <a href="https://github.com/GVSU-Sports-Analytics">GitHub</a>
    </nav>
</div>


<div class="home_page louie-wave">
    <h1 class="title">
        Grand Valley State<br>
        Sports Analytics Club<br>
    </h1>
</div>

<body>
</body>
</html>
