<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>GVSU-{{ sport_name }}-{{ player_name }}</title>
</head>
<body>

<div>
    <nav class="topnav">
        <a href="/">Home</a>
        {% for sport in sports %}
            <a href="{{ url_for('sport.sport_page', sport_name=sport) }}">{{ sport.title() }}</a>
        {% endfor %}
        <a href="https://gvsu.campuslabs.com/engage/organization/baseballanalytics">About</a>
        <a href="https://github.com/GVSU-Sports-Analytics">GitHub</a>
    </nav>
</div>

<div>
    <h1 class="page-title">{{ player_name }}</h1>
    <ul>
        <li>Name: {{ player_info["player_name"] }}</li>
        <li>Height: {{ player_info["height"] }}</li>
    </ul>
</div>

</body>
</html>
