<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>GVSU Sports-Analytics</title>
</head>
<body>

<div>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="{{ url_for('sport.sport_page', sport_name='Baseball') }}">Baseball</a>
        <a href="https://gvsu.campuslabs.com/engage/organization/baseballanalytics">About</a>
        <a href="https://github.com/GVSU-Sports-Analytics">GitHub</a>
    </nav>
</div>

<div>
    <h1 class="page-title">{{ sport_name }}</h1>
</div>

<table>
    {% for year in data %}
        <tr>
            <td>
                <a href="{{ url_for('sport.year_page', year=year, sport_name=sport_name) }}">{{ year }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
