<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>GVSU Sports-Analytics</title>
</head>

<div>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/baseball">Baseball</a>
        {#        <a href="/softball">Softball</a>#}
        {#        <a href="/football">Football</a>#}
        {#        <a href="/basketball">Basketball</a>#}
        <a href="https://gvsu.campuslabs.com/engage/organization/baseballanalytics">About</a>
        <a href="https://github.com/GVSU-Sports-Analytics">GitHub</a>
    </nav>
</div>

<div>
    <h1 class="page-title">{{ sport }}</h1>
</div>


<table>
    {% for year in data %}
        <tr>
            <td>
                <a href="{{ url_for('baseball._year', year=year, d=year[year]) }}">{{ year }}</a>
            </td>
        </tr>
    {% endfor %}
</table>


{#{% for player, info in data.items() %}#}
{#    <div>#}
{#        <h3>Name: # {{ info["number"] }} {{ player }}</h3>#}
{#        <a href="{{ url_for('baseball._player', player_name=player, info=info) }}"><img src="{{ info["image"] }}" alt="{{ player }} sidearm roster image"></a>#}
{#        <ul>#}
{#            <li>Position: {{ info["pos"] }}</li>#}
{#            <li>Height: {{ info["height"] }}</li>#}
{#            <li>Weight: {{ info["weight"] }}</li>#}
{#        </ul>#}
{#    </div>#}
{#{% endfor %}#}

</html>
