<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <title>GVSU {{ sport_name }}-{{ year }}</title>
</head>

<body>

<div>
    <nav class="topnav">
        <a href="/">Home</a>
        {% for sport in sports %}
            <a href="{{ url_for('sport.sport_page', sport_name=sport) }}">{{ sport.title() }}</a>
        {% endfor %}
        <a href="https://gvsu.campuslabs.com/engage/organization/baseballanalytics">About</a>
        <a href="https://github.com/GVSU-Sports-Analytics">GitHub</a>
    </nav>
</div>

<div>
    <h1 class="page-title">{{ year + " " + sport_name.title() }}</h1>
</div>

<div>
    {% for player in data %}
        <a href="{{ url_for('sport.player_page', sport_name=sport_name, player_name=player[0], year=year) }}">
            <img src="{{ player[1] }}" alt="{{ player[0] }}">
        </a>
    {% endfor %}
</div>

</body>
</html>
